body {
    color: var(--trp-text-color-primary);
    font-size: var(----trp-text-font-size-default)rem;
}

h1 {
    color: var(--trp-heading-h-1-color);
    font-size: var(--trp-heading-h-1-font-size);
}

h2 {
    color: var(--trp-heading-h-2-color);
    font-size: var(--trp-heading-h-2-font-size);
}

h3 {
    color: var(--trp-heading-h-3-color);
    font-size: var(--trp-heading-h-3-font-size);
}

h4 {
    color: var(--trp-heading-h-4-color);
    font-size: var(--trp-heading-h-4-font-size);
}

h5 {
    color: var(--trp-heading-h-5-color);
    font-size: var(--trp-heading-h-5-font-size);
}

h6 {
    color: var(--trp-heading-h-6-color);
    font-size: var(--trp-heading-h-6-font-size);
}

a {
    color: var(--trp-text-link-unvisited-light);
}